NOTION_TOKEN=secret_ntn_m3962371687a9TytiQrigqKgkJCLqGKnxVptWcFmXnreaN
NOTION_DATABASE_ID=***
NOTION_PARENT_PAGE_ID=25c0ec2cfe6781dd9628000c4480b270
GOOGLE_CLIENT_ID=***
GOOGLE_CLIENT_SECRET=***
NEXT_PUBLIC_BASE_URL=http://localhost:3000
SESSION_PASSWORD=complex_long_password_at_least_32_chars
